.searchPage {
  flex: 0.8;
  margin: 10px 30px;
  background-color: #fafafa;
}
.searchPage__filter {
  display: flex;
}
.filter {
  color: lightgray !important;
    margin-right: 20px;
}
.searchPage__filter > p{
    color: lightgray;
}
 hr {
margin-top: 10px;
color: lightgray;
}
